@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url('./BasisGrotesqueArabicPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url('./BasisGrotesqueArabicPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url('./BasisGrotesqueArabicPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url('./BasisGrotesqueArabicPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Base Styles */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Basis Grotesque Arabic Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
      background-color: #344039;
      overflow-x: hidden;
  }

/* Property Grid */
/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #344039;
    padding: 20px;
  }
  
  h2 {
    font-size: 38px;
    color: #ffffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 130px;
  }
  
  /* Container for the property cards */
  .property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18vw, 30vh));
    gap: 40px;
    margin-top: 60px;
    margin-left: 130px;
  }
  
  /* Card style */
  .property-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .property-card:hover {
    transform: translateY(-10px);
  }
  
  /* Property image */
  .property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
  }
  
  /* Card body */
  .property-card .card-body {
    padding: 20px;
  }
  
  /* Property name */
  .property-card h3 {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;

  }
  
  /* Property price */
  .property-card {
    font-size: 0.15em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 620px;
  

  }
  

  .price {
    font-size: 0.15em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 20px;

  }

  /* Property location */
  .property-card .location {
    font-size: 0.25em;
    color: #777;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 10px;
  }
  